.footer{
 font-family: 'Lucida Handwriting';
 font-size:20px;
 /* text-align: center;
 display: inline-block;
 width: 100%;
 background-color: '#5ce1e6';
 height: 100%; */
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #5ce1e6;
 /* color: white; */
 text-align: center;
 padding: 24px;
}
